.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  // height: 40px;
  // max-height: 40px;
  // min-height: 40px;
  background-color: #f7f7f7;
  border-bottom: 1px solid var(--border-color);
  width: calc(100vw - 2rem);
  @media (min-width: 800px) {
    display: none;
  }
}

.menuButton {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  // font-size: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: auto;
}
